:root {
  --bg-color: #212121;
  --txt-color: white;
  --subtxt-color: gray;
  --btn-color: #43fa96;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body,
a {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: "Arvo", monospace;
}

h1 {
  font-size: 5rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

nav {
  padding: 0;
  height: 60px;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: background-color 0.01s ease-in-out;
}

nav>div {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

nav>div:last-child {
  gap: 12px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 10px;
  transition: color 0.01s ease-in-out;
}

nav.scrolled {
  background-color: color-mix(in srgb,
      var(--bg-color) 95%,
      var(--txt-color) 7%);
  z-index: 10;
}

nav.scrolled a {
  color: var(--txt-color);
  background-color: inherit;
}

nav a:hover {
  color: var(--bg-color);
  background-color: var(--btn-color);
}

#donut {
  white-space: pre;
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
  color: var(--btn-color);
}

.logo {
  color: var(--txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  color: inherit;
}

.logo>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a:hover {
  color: var(--btn-color);
  background-color: var(--bg-color);
}

.logo>a>span.left::before {
  content: "<";
  color: var(--subtxt-color);
}

.logo>a>span.right::before {
  content: "/>";
  color: var(--subtxt-color);
}

.logo>a>span {
  font-size: 20px;
}

.btn {
  background-color: var(--btn-color);
  color: var(--bg-color);
  margin-top: 5px;
  padding: 8px;
  width: 30%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  max-width: 80%;
  padding: 100px 20vw;
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes apper {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sub-heading {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 30px;
  margin-top: 50px;
  font-size: 3rem;
}

.sub-heading::before {
  content: "$ ";
  color: var(--btn-color);
}

.command {
  color: var(--subtxt-color);
}

.about-sub-tag {
  font-size: 1.27rem;
  color: var(--subtxt-color);
}

#contact div {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 70px;
  background-color: color-mix(in srgb, var(--txt-color), var(--bg-color) 92%);
  border-radius: 0.3rem;
  padding: 2rem 3rem;
  opacity: 0.9;
}

form>button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Arvo", monospace;
  font-size: 1.3rem;
  background-color: inherit;
  color: var(--txt-color);
  border: 2px solid var(--btn-color);
  outline: none;
  width: 20%;
  height: 3rem;
  gap: 10px;
}

form>button:hover {
  background-color: var(--btn-color);
  color: var(--bg-color);
}

.form-input {
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.form-input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--txt-color);
  padding: 0 5px;
  pointer-events: none;
  transition: 0.2s;
}

.form-input input {
  padding-top: 8px;
  font-family: "Arvo", monospace;
}

.form-input textarea {
  padding-top: 15px;
}

.form-input input,
textarea {
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  padding-left: 5px;
  color: var(--txt-color);
  background-color: transparent;
  border: 1.7px solid var(--subtxt-color);
  outline: none;
}

.form-input input:focus,
textarea:focus {
  border-color: var(--txt-color);
}

.form-input input:focus~label,
.form-input input:valid~label,
.form-input textarea:focus~label,
.form-input textarea:valid~label {
  top: 0;
  font-size: 1.15rem;
  background-color: var(--btn-color);
  color: var(--bg-color);
}

footer {
  background-color: var(--btn-color);
  color: var(--bg-color);
  bottom: 0;
  margin-top: auto;
  width: 100%;
}

footer a {
  background-color: var(--btn-color);
  color: var(--bg-color);
  font-size: 1.08rem;
  text-decoration: underline;
}

footer>div>div:first-child,
footer>div>div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

footer>div>div:first-child {
  gap: 12px;
}

.links {
  display: flex;
  padding: 7px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--bg-color);
  gap: 5px;
}

.links:hover {
  background-color: var(--txt-color);
}

.links i {
  width: 18px;
  height: 18px;
}
